body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.top-section {
    background-color: lightblue;
    height: 12.5vh; 
    display: flex;
    align-items: center;
}

.empty-space {
    width: 9.375%; 
    height: 100%;
    background-color: coral;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90.625%; 
    padding-right: 10px;
}

.top-buttons {
    display: flex;
    gap: 10px;
}

.horizontal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #f0f0f0;
}

.button {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Equal width for the category buttons */
.category-button {
    width: 100px;
}

.main-container {
    display: grid;
    height: 100%;
}

.main-content {
    background-color: lightgray;
    height: 100%;
}
