* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

/* Back link styling */
.back-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #007BFF;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.login-title {
    text-align: center;
    margin: 0 0 10px 0;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 8px;
    margin-bottom: 10px;
}

.forgot-password,
.create-account {
    font-size: 0.9em;
    color: #007BFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.forgot-password:hover,
.create-account:hover {
    text-decoration: underline;
}

/* Login button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
